<div class="grid-3-cols">
  {% for post in posts %}
    <article class="card">
      <h3><a href="{{ post.url | url }}">{{ post.data.title }}</a></h3>
      <p><small>{{ post.date | readableDate }}</small></p>
      {% if post.data.description %}
        <p>{{ post.data.description }}</p>
      {% endif %}
      {% if post.data.tags %}
        <footer>
          <small>Tags:
            {% for tag in post.data.tags %}
              {% if tag != 'post' %}
                <a href="{{ '/tags/' | url }}{{ tag | slug }}">{{ tag }}</a>{% if not loop.last %}, {% endif %}
              {% endif %}
            {% endfor %}
          </small>
        </footer>
      {% endif %}
    </article>
  {% endfor %}
</div>
