<!DOCTYPE html>
<html lang="{{ site.meta.lang }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% if title %}{{ title }} | {{ site.meta.title }}{% else %}{{ site.meta.title }}{% endif %}</title>
  <meta name="description" content="{% if description %}{{ description }}{% else %}{{ site.meta.description }}{% endif %}">

  <link rel="shortcut icon" href="{{ '/static/img/favicon.ico' | url }}" type="image/x-icon">
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
  <link rel="stylesheet" href="{{ '/static/css/custom.css' | url }}">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
  <header class="container-fluid" 
    style="
      position: sticky; 
      top: 0; z-index: 1000;
      background-color: var(--pico-background-color); 
      border-bottom: 1px solid var(--pico-muted-border-color); 
      padding-top: 0.3rem; padding-bottom: 0.3rem; 
      font-family: 'Montserrat', sans-serif;
    "
  >
    <nav class="container">
      <ul>
        <li><strong><a href="/">My Blog</a></strong></li>
      </ul>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/posts/">Posts</a></li>
        <li><a href="/tags/">Tags</a></li> 
        <li><button id="themeToggle">🌙 / ☀️</button></li>
      </ul>
    </nav>
  </header>
  {{ content | safe }}
  {% include 'components/footer.njk' %}
<script>
  const toggle = document.getElementById("themeToggle");
  const current = localStorage.getItem("theme");

  if (current === "dark") {
    document.documentElement.setAttribute("data-theme", "dark");
  }

  toggle.addEventListener("click", () => {
    const currentTheme = document.documentElement.getAttribute("data-theme");
    const nextTheme = currentTheme === "dark" ? "light" : "dark";
    document.documentElement.setAttribute("data-theme", nextTheme);
    localStorage.setItem("theme", nextTheme);
  });
</script>
</body>
</html>
